.app {
  text-align: center;
}

.app-header {
  background-image: url("./background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-weight: bold;
}


.nav-bar{
  position: fixed;     /* Fixed Sidebar (stay in place on scroll and position relative to viewport) */
  height: 100%;
  width: 75px;     /* Set the width of the sidebar */
  z-index: 1;      /* Stay on top of everything */
  background-color: rgb(185, 64, 64); /* Black */
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  padding-top: 100px;
}

.nav-link{
  color: wheat;
  font-weight: bold;
}

.nav-link:hover{
  color: #333;
  font-weight: bold;
}

.message-Link{
  color: wheat;
  margin-top: 2rem;
  text-transform: Uppercase;
  font-family: sans-serif;
  font-weight: bold;
  background-color: seashell;
  text-shadow: 2px 2px 2px  black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.flip-card {
  display: inline-block;
  background-color: transparent;
  justify-content: center;
  width: 300px;
  height: 300px;
  border: none;
  perspective: 1000px; 
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(200deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70%),
  linear-gradient(125deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70%),
  linear-gradient(340deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70%);
  color: white;
  transform: rotateY(180deg);
}

.button {
  background-color: #2abd31;
  border: none;
  color: seashell;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  border-radius: 12px;
  transition-duration: 0.5s;
}

.button:hover {
  background-color: #358b38; 
  color: white;
}

.item-detail {
  margin-top: 2rem;
  text-transform: Uppercase;
  font-family: sans-serif;
  font-size: 6rem;
  font-weight: bold;
  position: relative;
  background-color: white;
  text-shadow: 2px 2px 4px #d14949;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.link{
  margin-top: 2rem;
  text-transform: Uppercase;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  text-shadow: 2px 2px 4px #d14949;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.quantity{
  padding: 0px;
}

.display-or-form {
  border-radius: 10px;
  background: linear-gradient(200deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70%),
  linear-gradient(125deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70%),
  linear-gradient(340deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70%);
  font-family: Georgia, serif;
  font-size: 25px;
  font-weight: bolder;
  padding: 35px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

input {
  width: 40;
  padding: 4px 4px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

input:focus {
  border: 3px solid #555;
}

button{
  border: 3px solid  #ec767c;
  background-color: transparent;
  margin-top: 10px ;
  color: seashell;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  border-radius: 12px;
  transition-duration: 0.5s;
}

button:hover {
  background: linear-gradient( transparent,  #ec767c);
  border: transparent;
  color: snow;
}